/* html{
  background-image: linear-gradient(to right top, #d1bf6b, #c3c875, #b4d184, #a5d895, #97dfa8, #8ee4b4, #86e8c1, #7eecce, #77f0d6, #70f4df, #68f7e8, #5ffbf1);
  height: 100%;
} */

.App{
  text-align: center;
 
}

.container{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.formButton{
  font-size: 16px;

}
.heading{
  color:darkblue;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}
.routeButtons{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left:15%
}

.table_container{
  display: flex;
  margin-top: 40px;
  justify-content: center;
 
}
table {
  border-collapse: collapse;
  min-width: 40vw;
}
th{
  padding-bottom:17px;
}
td{
  padding: 0px 30px;
  text-align: left;
}
.completedtask{
  text-decoration: line-through;
}